.text-red100 { color: #f6d0d1; }

.text-red300 { color: #ed686b; }

.text-red500 { color: #ec1c24; }

.text-red700 { color: #9a0000; }

.text-red900 { color: #68181e; }

.text-gray100 { color: #fafafa; }

.bg-gray100 { background: #fafafa; }

.text-gray300 { color: #e9e9e9; }

.bg-gray300 { background: #e9e9e9; }

.text-gray500 { color: #a8a8a8; }

.bg-gray500 { background: #a8a8a8; }

.text-gray700 { color: #707070; }

.bg-gray700 { background: #707070; }

.text-gray800 { color: #333333; }

.bg-gray800 { background: #333333; }

.text-gray900 { color: #222222; }

.bg-gray900 { background: #222222; }

.text-section { font: 700 1.75rem/1.214em "Open Sans", sans-serif; }

.text-feed1 { font: 700 1.625rem/1.154em "Open Sans", sans-serif; }

.text-feed2 { font: 700 1.25rem/1.2em "Open Sans", sans-serif; }

.text-feed3 { font: 700 1rem/1.375em "Open Sans", sans-serif; }

.text-feed4 { font: 700 0.875rem/1.357em "Open Sans", sans-serif; }

.text-hat { font: 700 0.75rem/1.333em "Open Sans", sans-serif; }

/* Reset simples */
*, *::after, *::before { margin: 0; padding: 0; box-sizing: border-box; }

body, html { scroll-behavior: smooth; font-family: "Open Sans", sans-serif; font-size: 16px; }

a { text-decoration: none; }

h1 { position: absolute; text-indent: -99999px; }

img { max-width: 100%; height: auto; }

/* TEXT */
.text-hat { text-transform: uppercase; }

/* TEXT COLORS */
.text-white { color: #fff; }

/* TEXT UTILS */
.text-center { text-align: center; }

.uppercase { text-transform: uppercase; }

.text-lh-none { line-height: 0; }

/* BACKGROUND */
.bg-black { background-color: #000; }

.bg-white { background-color: #fff; }

.bg-black20 { background-color: rgba(34, 34, 34, 0.2); }

.bg-gray-gradient { background-image: linear-gradient(93.03deg, #222222 0.41%, #2e2e2e 98.74%); }

/* BORDERS */
.rounded { border-radius: 0.5rem; overflow: hidden; }

.rounded-top { border-radius: 8px 8px 0 0; overflow: hidden; }

.rounded-bottom { border-radius: 0 0 8px 8px; overflow: hidden; }

/* BUTTONS */
.btn-group { display: flex; }

.btn { font-family: "Open Sans", sans-serif; cursor: pointer; display: inline-flex; align-items: center; justify-content: center; height: 3rem; line-height: 100%; text-align: center; border-radius: 0.25rem; border: none; transition: background 0.3s ease-in, opacity 0.3s ease-in; }
.btn span { transition: all 0.3s ease-in; }
.btn path { transition: all 0.3s ease-in; }
.btn:disabled { opacity: 0.3; cursor: not-allowed; }
.btn.prev { transform: rotate(180deg); }

.btn-square { width: 3rem; }
.btn-square.bg-black:hover { background: #222222; }
.btn-square.bg-gray300 { border: 1px solid #a8a8a8; }
.btn-square.bg-gray300:hover { background: #a8a8a8; }

.btn-outline { border: 2px solid #707070; background: transparent; transition: background 0.3s ease-in, border 0.3s ease-in; }
.btn-outline:hover { color: #ed686b; background: #222222; border-color: #222222; }
.btn-outline:hover > svg path { stroke: #ed686b; }

/* VIDEO SECTION */
.videos-area { overflow: hidden; background-image: linear-gradient(93.03deg, #222222 0.41%, #2e2e2e 98.74%); z-index: 0; position: relative; }
.videos-area .video-row { position: relative; }
.videos-area .highlight-video { display: flex; height: 100%; background-size: cover; border-radius: 8px; flex-direction: column; justify-content: flex-end; background-position: center center; transition: box-shadow 0.3s ease-in; min-height: 642px; box-shadow: inset 0 0 0 5px transparent; position: relative; }
.videos-area .highlight-video .video-image { position: absolute; overflow: hidden; z-index: -1; width: 100%; height: 100%; }
.videos-area .highlight-video .video-image img { width: 100%; height: 100%; object-fit: cover; }
.videos-area .highlight-video .video-content { padding: 5% 4%; }
.videos-area .highlight-video:hover { box-shadow: inset 0 0 0 5px #fc6c6d; }
.videos-area .highlight-video:hover svg path { fill: #ed686b; }
.videos-area .highlight-video svg path { transition: fill 0.3s ease-in; }
.videos-area .videos-wrapper { gap: 24px; max-height: 642px; overflow-y: auto; scroll-behavior: smooth; }
.videos-area .videos-wrapper::-webkit-scrollbar { display: none; }
.videos-area .videos-wrapper .video-item { position: relative; flex: 1 0 90%; }
.videos-area .videos-wrapper .video-item:hover .play path { fill: #fc6c6d; }
.videos-area .videos-wrapper .video-item:hover .video-image { box-shadow: inset 0 0 0 5px #fc6c6d; }
.videos-area .videos-wrapper .video-item:hover .video-image .comments { opacity: 1; }
.videos-area .videos-wrapper .video-item:hover .video-image img { opacity: 0.5; }
.videos-area .videos-wrapper .video-item:hover .video-content { background: #222222; }
.videos-area .videos-wrapper .video-item .play { position: absolute; z-index: 2; }
.videos-area .videos-wrapper .video-item .play path { transition: fill 0.3s ease-in; }
.videos-area .videos-wrapper .video-item .video-image { height: 204px; position: relative; box-shadow: inset 0 0 0 5px transparent; transition: box-shadow 0.3s ease-in; }
.videos-area .videos-wrapper .video-item .video-image .comments { position: absolute; bottom: 0; right: 0; opacity: 0; transition: opacity 0.3s ease-in; }
.videos-area .videos-wrapper .video-item .video-image .image-container { background: #000; position: absolute; z-index: -1; width: 100%; height: 100%; }
.videos-area .videos-wrapper .video-item .video-image .image-container img { transition: opacity 0.3s ease-in; width: 100%; height: 100%; object-fit: cover; border-radius: 9px 8px 0 0; }
.videos-area .videos-wrapper .video-item .video-content { transition: background-color 0.3s ease-in; }
.videos-area .videos-wrapper .video-item .video-content h4 { padding-bottom: 0.5rem; }

/* COLUNISTS */
.colunists-area .article-wrapper { overflow-x: auto; overflow-y: hidden; scroll-behavior: smooth; }
.colunists-area .article-wrapper::-webkit-scrollbar { display: none; }
.colunists-area .btn-group .more { background: #fff; border: none; }
.colunists-area .btn-group .more:hover { background: linear-gradient(129.58deg, #ec1c24 1.26%, #68181e 100%); }
.colunists-area .article { transition: width 0.3s ease-in; flex: 0; }
.colunists-area .article:hover .author-wrapper .author-image { background-color: #72f29e; }
.colunists-area .article:hover .author-wrapper .author-name { color: #9a0000; }
.colunists-area .article .author-wrapper .author-image { background-color: #c9c9c9; transition: background-color 0.3s ease-in; overflow: hidden; width: 165px; height: 165px; line-height: 0; }
.colunists-area .article .author-wrapper .author-name { transition: color 0.3s ease-in; }
.colunists-area .article .content-wrapper { display: none; }

/* BREAKPOINTS */
@media (min-width: 768px) { .videos-area { padding-bottom: 51px !important; padding-top: 4rem !important; background: none; }
  .videos-area .highlight-video .comments { display: none; }
  .videos-area .video-row::before { content: ''; position: absolute; width: calc((100vw - (100vw - 100%) / 2) + 40px); background-image: linear-gradient(93.03deg, #222222 0.41%, #2e2e2e 98.74%); z-index: -1; border-radius: 8px; margin: 0; padding: 0; overflow: hidden; left: -49px; top: -48px; height: calc(100% + 99px); }
  .videos-area .video-row .video-item { flex: none; }
  .colunists-area { padding-bottom: 4rem !important; }
  .colunists-area .article { transition: width 0.3s ease-in; flex: none; }
  .colunists-area .article:hover { width: 50%; }
  .colunists-area .article:hover .content-wrapper .content { opacity: 1; }
  .colunists-area .article .content-wrapper { position: relative; width: 100%; display: block !important; }
  .colunists-area .article .content-wrapper .content { position: absolute; opacity: 0; top: 50%; width: 463px; transform: translateY(-50%); transition: opacity 0.3s ease-in; }
  .colunists-area .article .content-wrapper .content-text { max-width: 315px; } }
@media (max-width: 768px) { .container { padding-left: 24px !important; padding-right: 24px !important; }
  .videos-area .btn-group .more span { display: none; }
  .videos-area .video-row .highlight-video { margin-bottom: 1.5rem; min-height: auto; height: auto; }
  .videos-area .video-row .highlight-video:hover .video-image .comments { opacity: 1; }
  .videos-area .video-row .highlight-video:hover .video-content { border-top: 5px solid #fc6c6d; }
  .videos-area .video-row .highlight-video .video-image { position: relative; border-radius: 8px 8px 0 0; }
  .videos-area .video-row .highlight-video .video-image .comments { opacity: 0; position: absolute; bottom: 0; right: 0; transition: opacity 0.3s ease-in; }
  .videos-area .video-row .highlight-video .video-content { background: #333333; border-radius: 0 0 8px 8px; border-top: 5px solid transparent; transition: border-top 0.3s ease-in; padding: 11px 1rem 1rem 1rem; }
  .videos-area .video-row .highlight-video .video-content .play { position: absolute; top: 0; width: 33px; }
  .videos-area .video-row .highlight-video .video-content .play svg { width: 2rem; height: 2rem; }
  .videos-area .video-row .highlight-video .video-content h3 { font: 700 1rem/1.375em "Open Sans", sans-serif; } }
