/* VIDEO SECTION */
.videos-area {
  overflow: hidden;
  background-image: linear-gradient(93.03deg, #222222 0.41%, #2e2e2e 98.74%);
  z-index: 0;
  position: relative;

  .video-row {
    position: relative;
  }

  .highlight-video {
    display: flex;
    height: 100%;
    background-size: cover;
    border-radius: 8px;
    flex-direction: column;
    justify-content: flex-end;
    background-position: center center;
    transition: box-shadow $transition;
    min-height: 642px;
    box-shadow: inset 0 0 0 5px transparent;
    position: relative;

    .video-image {
      position: absolute;
      overflow: hidden;
      z-index: -1;
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .video-content {
      padding: 5% 4%;
    }

    &:hover {
      box-shadow: inset 0 0 0 5px $redHighlight;

      svg path {
        fill: map-get($redColors, 300);
      }
    }

    svg path {
      transition: fill $transition;
    }
  }

  .videos-wrapper {
    gap: 24px;
    max-height: 642px;
    overflow-y: auto;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      display: none;
    }

    .video-item {
      position: relative;
      flex: 1 0 90%;

      &:hover {
        .play {
          path {
            fill: $redHighlight;
          }
        }
        .video-image {
          box-shadow: inset 0 0 0 5px $redHighlight;

          .comments {
            opacity: 1;
          }

          img {
            opacity: 0.5;
          }
        }

        .video-content {
          background: map-get($grayColors, 900);
        }
      }

      .play {
        position: absolute;
        z-index: 2;

        path {
          transition: fill $transition;
        }
      }

      .video-image {
        height: 204px;
        position: relative;
        box-shadow: inset 0 0 0 5px transparent;
        transition: box-shadow $transition;

        .comments {
          position: absolute;
          bottom: 0;
          right: 0;
          opacity: 0;
          transition: opacity $transition;
        }

        .image-container {
          background: #000;
          position: absolute;
          z-index: -1;
          width: 100%;
          height: 100%;

          img {
            transition: opacity $transition;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 9px 8px 0 0;
          }
        }
      }

      .video-content {
        transition: background-color $transition;

        h4 {
          padding-bottom: 0.5rem;
        }
      }
    }
  }
}

/* COLUNISTS */
.colunists-area {
  .article-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .btn-group {
    .more {
      background: #fff;
      border: none;

      &:hover {
        background: linear-gradient(129.58deg, #ec1c24 1.26%, #68181e 100%);
      }
    }
  }

  .article {
    transition: width $transition;
    flex: 0;

    &:hover {
      .author-wrapper {
        .author-image {
          background-color: #72f29e;
        }
        .author-name {
          color: map-get($redColors, 700);
        }
      }
    }

    .author-wrapper {
      .author-image {
        background-color: #c9c9c9;
        transition: background-color $transition;
        overflow: hidden;
        width: 165px;
        height: 165px;
        line-height: 0;
      }
      .author-name {
        transition: color $transition;
      }
    }

    .content-wrapper {
      display: none;
    }
  }
}

/* BREAKPOINTS */

// usando min-width, como em mobile-first
@media (min-width: 768px) {
  .videos-area {
    padding-bottom: 51px !important;
    padding-top: 4rem !important;
    background: none;

    .highlight-video {
      .comments {
        display: none;
      }
    }

    .video-row {
      &::before {
        content: '';
        position: absolute;
        width: calc((100vw - (100vw - 100%) / 2) + 40px);
        background-image: linear-gradient(
          93.03deg,
          #222222 0.41%,
          #2e2e2e 98.74%
        );
        z-index: -1;
        border-radius: 8px;
        margin: 0;
        padding: 0;
        overflow: hidden;
        left: -49px;
        top: -48px;
        height: calc(100% + 99px);
      }

      .video-item {
        flex: none;
      }
    }
  }
  .colunists-area {
    padding-bottom: 4rem !important;
    .article {
      transition: width $transition;
      flex: none;

      &:hover {
        width: 50%;

        .content-wrapper {
          .content {
            opacity: 1;
          }
        }
      }

      .content-wrapper {
        position: relative;
        width: 100%;
        display: block !important;

        .content {
          position: absolute;
          opacity: 0;
          top: 50%;
          width: 463px;
          transform: translateY(-50%);
          transition: opacity $transition;
        }
        .content-text {
          max-width: 315px;
        }
      }
    }
  }
}

// usando max-width, como em desktop first
@media (max-width: 768px) {
  .container {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }

  .videos-area {
    .btn-group {
      .more {
        span {
          display: none;
        }
      }
    }
    .video-row {
      .highlight-video {
        margin-bottom: 1.5rem;
        min-height: auto;
        height: auto;

        &:hover {
          .video-image {
            .comments {
              opacity: 1;
            }
          }
          .video-content {
            border-top: 5px solid $redHighlight;
          }
        }

        .video-image {
          position: relative;
          border-radius: 8px 8px 0 0;

          .comments {
            opacity: 0;
            position: absolute;
            bottom: 0;
            right: 0;
            transition: opacity $transition;
          }
        }

        .video-content {
          background: map-get($grayColors, 800);
          border-radius: 0 0 8px 8px;
          border-top: 5px solid transparent;
          transition: border-top $transition;
          padding: 11px 1rem 1rem 1rem;

          .play {
            position: absolute;
            top: 0;
            width: 33px;

            svg {
              width: 2rem;
              height: 2rem;
            }
          }

          h3 {
            font: map-get($textProperties, feed3);
          }
        }
      }
    }
  }
}
