// Criar textos Vermelhos
@mixin createRedColors {
  @each $graduacao, $cor in $redColors {
    .text-red#{$graduacao} {
      color: $cor;
    }
  }
}

// Criar textos e bgs Cinzas
@mixin createGrayColorsAndBgs {
  @each $graduacao, $cor in $grayColors {
    .text-gray#{$graduacao} {
      color: $cor;
    }

    .bg-gray#{$graduacao} {
      background: $cor;
    }
  }
}

// Criar os textos com suas classes e respectivas propriedades (font-size, line-height etc)
@mixin createTextProperties {
  @each $type, $styles in $textProperties {
    .text-#{$type} {
      font: $styles;
    }
  }
}
