$fontDefault: 'Open Sans', sans-serif;

// map das propriedades de textos
$textProperties: (
  section: 700 1.75rem / 1.214em $fontDefault,
  feed1: 700 1.625rem / 1.154em $fontDefault,
  feed2: 700 1.25rem / 1.2em $fontDefault,
  feed3: 700 1rem / 1.375em $fontDefault,
  feed4: 700 0.875rem / 1.357em $fontDefault,
  hat: 700 0.75rem / 1.333em $fontDefault,
);

// map das cores
$grayColors: (
  100: #fafafa,
  300: #e9e9e9,
  500: #a8a8a8,
  700: #707070,
  800: #333333,
  900: #222222,
);

$redColors: (
  100: #f6d0d1,
  300: #ed686b,
  500: #ec1c24,
  700: #9a0000,
  900: #68181e,
);

$grayGradient: linear-gradient(93.03deg, #222222 0.41%, #2e2e2e 98.74%);
$black20: rgba(34, 34, 34, 0.2);
$redHighlight: #fc6c6d;

// auxiliares
$rounded: 0.5rem;
$transition: 0.3s ease-in;
